section.swiper-slide.content-section.portfolio-section
  h3.section-title Фото с объектов
  #lightgallery
    a(
      href=require("../../images/portfolio/1.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/1.jpg"))
    a(
      href=require("../../images/portfolio/2.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/2.jpg"))
    a(
      href=require("../../images/portfolio/3.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/3.jpg"))
    a(
      href=require("../../images/portfolio/4.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/4.jpg"))
    a(
      href=require("../../images/portfolio/5.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/5.jpg"))
    a(
      href=require("../../images/portfolio/6.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/6.jpg"))
    a(
      href=require("../../images/portfolio/7.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/7.jpg"))
    a(
      href=require("../../images/portfolio/8.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/8.jpg"))
    a(
      href=require("../../images/portfolio/9.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/9.jpg"))
    a(
      href=require("../../images/portfolio/10.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/10.jpg"))
    a(
      href=require("../../images/portfolio/11.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/11.jpg"))
    a(
      href=require("../../images/portfolio/12.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/12.jpg"))
    a(
      href=require("../../images/portfolio/13.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/13.jpg"))
    a(
      href=require("../../images/portfolio/14.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/14.jpg"))
    a(
      href=require("../../images/portfolio/15.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/15.jpg"))
    a(
      href=require("../../images/portfolio/16.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/16.jpg"))
    a(
      href=require("../../images/portfolio/17.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/17.jpg"))
    a(
      href=require("../../images/portfolio/18.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/18.jpg"))
    a(
      href=require("../../images/portfolio/19.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/19.jpg"))
    a(
      href=require("../../images/portfolio/20.jpg")
      data-fancybox='gallery'
    )
      img(src=require("../../images/portfolio/20.jpg"))
